*{
    padding: 0%;
    margin: 0%;
}
.navbar {
    background-color: rgb(184, 177, 177);
    text-align: center;
    margin-top: 1%;
    border-radius: 5px;
}
.navbar ul {
    display: inline-flex;
    list-style-type: none;
}
.navbar li {
    width: 120px;
    padding: 15px;
    margin: 15px; 
    font-weight: bold;
    font-size: x-large;  
}
.navbar li a {
    text-decoration: none;
    color: black;
} 
.active, .navbar li:hover {
    background-color: white;  
    border-radius: 10px;
}
.submenu {
    display: none; 
} 
.navbar li:hover .submenu {
    display: block;
    position: absolute;
    background-color: rgb(184, 177, 177);
    margin-top: 1.5%;
    z-index: 1;
}
.navbar li:hover .submenu ul {
    display: block;
    margin-top: 50px;
}
.submenu li:hover {
    border-bottom: none;
    background-color: white;
    border-radius: 20px;
}
.navbar li:hover .submenu li {
    width: 180px;
    border-bottom: 1px solid black;
}