#top_panel{
  background-color: white;
  padding-bottom: 10px;
  height: 10px;
  
}
.list li {
  list-style-type: none;
  display: inline;
  padding-left: 30px;
  font-size: x-large;
}

.list a {
  text-decoration: none;
  color: black;
}
.list {
  margin-left: 50%;
  width: auto;
  position: absolute;
  top: 2px; right: 50px;
}
div.gallery {
  margin-left: 90px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 27%;
  box-shadow: 8px 6px rgb(145, 143, 143);
}

div.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.04);
  transition: 1s;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.Products {
  margin-top: 25%;
  margin-left: 45%;
}
.icons {
  margin-left: 150px;
  padding: 20px;
  float: left;
}
.icons img:hover {
  transform: rotateY(180deg);
  transition: 1.5s;
}
.account {
  margin-left: 40%;
  margin-top: 5%;
  width: 20%;
  border: 1px solid black;
}
.register {
  border: 2px solid #000000;
  border-radius: 20px;
  width: 600px;
  height: fit-content;
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-left: 600px;
  opacity: 70%;
}
.form input {
  border-radius: 10px;
  width: 500px;
  height: 50px;
  color: black;
  text-align: center;
}
.button {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  background-color: orange;
}
.button:hover,.contact_button:hover {
  background-color: white;
}
p a {
  text-decoration: none;
  color: blue;
}
.login {
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 70%;
  width: 600px;
  margin-top: 50px;
  margin-left: 650px;
  border-radius: 20px;
}
.login input {
  border: 2px solid black;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
}
.fplogin {
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 70%;
  width: 600px;
  margin-top: 50px;
  margin-left: 650px;
  border-radius: 20px;
}
.fplogin input {
  border: 2px solid black;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
}
.sofa {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.disc {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.chairs {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.wardrobe {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.desk {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.bed {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.mattress {
  margin-left: 110px;
  margin-top: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.except {
  float: right;
  margin-top: 80px;
  margin-right: 668px;
  border: 1px solid #ccc;
  width: 500px;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.cupboard {
  margin-left: 4%;
  margin-top: 3%;
  border: 1px solid #ccc;
  float: left;
  width: 27%;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.dining {
  margin-left: 4%;
  margin-top: 3%;
  border: 1px solid #ccc;
  float: left;
  width: 27%;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.tv {
  margin-left: 4%;
  margin-top: 3%;
  border: 1px solid #ccc;
  float: left;
  width: 27%;
  box-shadow: 8px 6px rgb(145, 143, 143); 
}
.bookshelf {
  margin-left: 4%;
  margin-top: 3%;
  border: 1px solid #ccc;
  float: left;
  width: 27%;
  box-shadow: 8px 6px rgb(145, 143, 143);
}
.nextbutton {
  float: right;
}
.mail_image {
  width:"40%"; 
  height:"40%";
 
  margin-top: 7%;
  margin-left: 8%;
}
.contact_div {
  border: 2px solid #000000;
  border-radius: 20px;
  width: 600px;
  height: fit-content;
  background-color: black;
  color: white;
  margin-top: 10%;
  margin-left: 60%;
  opacity: 70%;
 
}
.contact_div input{
  border: 2px solid black;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  margin-left: 8%;
  text-align: center;
}
.contact_button {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  background-color: orange;
  margin-left: 8%;

}